In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

pd.options.display.float_format = '{:.2f}'.format
data_crops=pd.read_csv('apy.csv')

data = data_crops.copy()

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.1+ MB

In [3]:
data.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [8]:
crops2 = data.dropna(axis=0)

In [9]:
crops2.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'Production'],
      dtype='object')

In [10]:
col = ['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop']
crops=crops2.drop(columns=col,axis=1)

In [11]:
crops

            Area  Production
0        1254.00     2000.00
1           2.00        1.00
2         102.00      321.00
3         176.00      641.00
4         720.00      165.00
...          ...         ...
246086    306.00      801.00
246087    627.00      463.00
246088    324.00    16250.00
246089 279151.00   597899.00
246090    175.00       88.00

[242361 rows x 2 columns]

In [12]:
from sklearn.linear_model import LinearRegression

In [23]:
y = np.array(crops['Production'])

print(y)

[2.00000e+03 1.00000e+00 3.21000e+02 ... 1.62500e+04 5.97899e+05
 8.80000e+01]

In [24]:
x = np.array(crops['Area']).reshape((-1, 1))
print(x)

[[1.25400e+03]
 [2.00000e+00]
 [1.02000e+02]
 ...
 [3.24000e+02]
 [2.79151e+05]
 [1.75000e+02]]

In [41]:
train_x, test_x, train_y,test_y = train_test_split(x,y,test_size=0.2,random_state=111)

In [42]:
model = LinearRegression()

In [43]:
model.fit(train_x,train_y)

LinearRegression()

In [44]:
r_sq = model.score(x, y)
print('coefficient of determination:', r_sq)

coefficient of determination: 0.00163845574301702

In [37]:
r2_rf_test = model.score(test_x,test_y)

In [39]:
r2_rf_train = model.score(train_x,train_y)

In [40]:
print(r2_rf_test,r2_rf_train)

0.001989174664329574 0.0015424178277537726

In [45]:
x_train1,x_test1,y_train1,y_test1 = train_test_split(x,y,test_size=0.2,random_state=111)

In [46]:
print(x_train1.shape,x_test1.shape,y_train1.shape,y_test1.shape)

(193888, 1) (48473, 1) (193888,) (48473,)

In [47]:
base_pred =np.mean(y_test1)
print(base_pred)

568544.0503517422

In [48]:
base_pred = np.repeat(base_pred,len(y_test1))

In [50]:
from sklearn.metrics import mean_squared_error

In [52]:
base_root_mean_square_error = np.sqrt(mean_squared_error(y_test1,base_pred))

In [53]:
print(base_root_mean_square_error)

17677274.46741465